<p class="lead">Showing results for {{bands.name}}</p>
<ul>
    <li>Name: {{bands.name}}</li>
    <li>Year Formed: {{bands.yearFormed}}</li>
    <li>Genre: {{bands.genre}}</li>
    <li>Location of origin: {{bands.location}}</li>
</ul>

<a class="delete" href="delete?name={{bands.name}}">Delete record for {{bands.name}}</a>