<p class="lead">Showing results for {{name}}</p>
<ul>
    <li>Name: {{result.name}}</li>
    <li>Year Formed: {{result.yearFormed}}</li>
    <li>Genre: {{result.genre}}</li>
    <li>Location of origin: {{result.location}}</li>
</ul>